/* * {
  border: 2px solid blue;
} */
.App {
  text-align: center;
}

.App-logo {
  /* margin-left: 45px; */
  height: 20vmin;
  /* padding: 0.5em; */
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.name {
  color: #f04609;
  font-family: cursive;
}

.App-link {
  color: #09d3ac;
}
